.body {
  display: grid;
  grid-template-columns: 1fr 7fr;
  background-color: rgb(240, 241, 255);
  height: 100%;
  // .side-bar {}
  .content{
    top: 0;
    .outlet {
      // display: grid;
      top: 0;
      background-color: rgb(240, 241, 255);
      // min-height: 600px;
      // height: 100%;
      padding: 1px;
    }
  }
}


