<div class="label">
  <p>
    Rejestracja
  </p>
  <mat-icon class="x" aria-hidden="false" aria-label="Example home icon" (click)="onNoClick()">clear</mat-icon>
</div>

<div class="content">
  <div class="icon" >
  <mat-icon aria-hidden="false" aria-label="Example home icon">account_box</mat-icon>
</div>
  <mat-form-field>
    <input matInput placeholder="Login">
  </mat-form-field>
  <mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon>
  <mat-form-field>
    <input matInput placeholder="Hasło">
  </mat-form-field>
</div>
<div class="zaloguj">
  <button mat-raised-button color="primary">Zaloguj</button>
</div>

<div class="other-options">
  <div class="ask">
    Masz już konto?
  </div>
  <div class="ask">
  </div>
  <button mat-raised-button color="warn" (click)=openLoginDialog()>Zaloguj</button>

</div>
