<div class="label">
  <p>
    Rejestracja
  </p>
  <mat-icon class="x" aria-hidden="false" aria-label="Example home icon" (click)="closeDialog()">clear</mat-icon>
</div>

<div class="content">
  <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
  <mat-form-field>
    <input matInput placeholder="E-mail">
  </mat-form-field>
  <mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon>
  <div class="col-2">
  <mat-form-field>
    <input matInput placeholder="Hasło">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Powtórz hasło">
  </mat-form-field>
  <br><br>
  </div>

  <mat-icon aria-hidden="false" aria-label="Example home icon">account_box</mat-icon>
  <div class="col-2">
  <mat-form-field>
    <input matInput placeholder="Imię">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nazwisko">
  </mat-form-field>
  </div>
  <mat-icon aria-hidden="false" aria-label="Example home icon">layers</mat-icon>
  <mat-form-field>
    <input matInput placeholder="Uczelnia">
  </mat-form-field>
  <mat-icon aria-hidden="false" aria-label="Example home icon">bookmark</mat-icon>
  <mat-form-field>
    <input matInput placeholder="Wydział">
  </mat-form-field>
  <mat-icon aria-hidden="false" aria-label="Example home icon">work</mat-icon>
  <mat-form-field>
    <input matInput placeholder="Kierunek">
  </mat-form-field>
</div>
<div class="zaloguj">
  <button mat-raised-button color="primary">Zaloguj</button>
</div>

<div class="other-options">
  <div class="ask">
    Posiadasz konto?
  </div>
  <div class="ask">
  </div>
  <button mat-raised-button color="warn" (click)=openLoginDialog()>Zaloguj</button>

</div>
