.label {
  display: grid;
  grid-template-columns: 8fr 1fr;
  font-size: 1.5em;
  .x {
    font-size: 1.5em;
    cursor: pointer;
  }
}
.content {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
}
.icon {
  display: inline-block;
}
.col-2 {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-column-gap: 10px;
}

.wideForm {
  width: 100%;
}

.register {
  align-items: center;
  text-align: center;
  padding: 30px;
  button {
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

.other-options{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  text-align: center;
  .ask {
    font-size: .7em;
  }
}

.errorInfo {
  font-size: .8em;
  color: red;
}
.errorMessage {
  text-align: center;
  margin: 4px;
}

