.content {
    display: grid;
    // top: 50px;
    margin: 50px;
  }
  
  .header {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  button {
    margin: 20px;
  }
  
  mat-form-field {
    width: 300px;
  }
  table {
    width: 100%;
  }
  mat-accordion {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .filesArray {
    display: grid;
    grid-template-columns: 1fr 1fr;
    :last-child {
      text-align: right;
    }
  }

  .filter {
    width: 100%;
  }