<div class="content">
  <div class="header">Moje pliki</div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dodaj plik
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
  
        <form [formGroup]="addFileForm" (ngSubmit)="addFile()">

            <input formControlName="file" type="file"/>

          <button mat-raised-button color="primary">Dodaj</button>
        </form>
  
      </mat-expansion-panel>
    </mat-accordion>
    <angular-file-uploader
      [config]="afuConfig">
</angular-file-uploader>
  </div>
  