<div class="label">
  <p>
    Resetowanie hasła
  </p>
  <mat-icon class="x" aria-hidden="false" aria-label="Example home icon" (click)="closeDialog()">clear</mat-icon>
</div>
<form [formGroup]="resetForm">
  <div class="content">
    <div class="icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
    </div>
    <mat-form-field>
      <input matInput placeholder="E-mail" formControlName="email">
    </mat-form-field>
  </div>
  <div class="zaloguj">
    <button mat-raised-button color="primary">Resetuj hasło</button>
  </div>
</form>
<div class="other-options">
  <div class="ask">
    Nie masz konta?
  </div>
  <div class="ask">
    Zapomniałeś hasła?
  </div>
  <button mat-raised-button color="warn" (click)=openLoginDialog()>Logowanie</button>
  <button mat-raised-button color="warn" (click)=openRegisterDialog()>Rejestracja</button>
</div>
