<div class="content" *ngIf="(profileDetails$ | async) as profileDetails">
  <h1>Profil:</h1>
  <div class="tab">
    <div class="item">Imię:</div>
    <div class="item">{{profileDetails.firstName}}</div>
    <div class="item">Nazwisko:</div>
    <div class="item">{{profileDetails.lastName}}</div>
    <div class="item">e-mail:</div>
    <div class="item">{{profileDetails.email}}</div>
    <div class="item">Kierunek:</div>
    <div class="item">{{profileDetails.subject}}</div>
    <div class="item">Wydział:</div>
    <div class="item">{{profileDetails.department}}</div>
    <div class="item">Uczelnia:</div>
    <div class="item">{{profileDetails.college}}</div>
  </div>
  <div class="edit" *ngIf="isOwner()">
    <button mat-raised-button color="primary" (click)="openEditDialog()">
      <mat-icon aria-hidden="false">edit</mat-icon>
      Edytuj profil
    </button>
  </div>
  <div class="edit" *ngIf="!isOwner()">
    <button mat-raised-button color="primary" [routerLink]="['/user-panel/chat', profileDetails.id]">
      <mat-icon aria-hidden="false">forum</mat-icon>
      Czat
    </button>
  </div>
</div>
<div class="files" *ngIf="isTeacher() && !isOwner()">
  <h3>Pliki użytkownika</h3>

  <mat-form-field class="filter">
    <input matInput [formControl]="filesArrayFilter" placeholder="Wyszukaj">
  </mat-form-field>
  
  <table mat-table  [dataSource]="filesArrayTable" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</th>
      <td mat-cell *matCellDef="let f">
        <a href="data:application/vnd.openxmlformats-officedocument.wordprocessingml.document;base64,${f.file}" download="{{f.name}}">
          {{f.name}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data utworzenia</th>
      <td mat-cell *matCellDef="let f">{{f.creationDate | date:'short'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>



<mat-card class="post-form">
  <h4>Utwórz post</h4>
  <form [formGroup]="postForm" (ngSubmit)="sendPost()">
    <mat-form-field class="subject" appearance="outline">
      <mat-label>Temat</mat-label>
      <input matInput formControlName="subject">
    </mat-form-field>
    <div class="errorInfo"
      *ngIf="postForm.get('subject').errors && postForm.get('subject').errors.maxlength">
      Temat nie może przekraczać 100 znaków
    </div>
    <mat-form-field class="contents" appearance="fill">
      <mat-label>Treść</mat-label>
      <textarea matInput formControlName="text"></textarea>
    </mat-form-field>
    <div class="errorInfo"
      *ngIf="postForm.get('text').errors && postForm.get('text').dirty">
      Pole wymagane
    </div>
    <div class="submit-button">
      <!-- <button mat-icon-button>
        <i class="material-icons">
          send
        </i>
      </button> -->
    </div>
    <button mat-raised-button color="primary" class="send-button">Utwórz</button>
  </form>
</mat-card>


<div  *ngIf="(postsArray$ | async) as postsArray">
  <mat-card class="example-card post-card" *ngFor="let post of postsArray | orderBy:creationDate">
   <mat-card-header>
     <mat-card-title>{{post.title}}</mat-card-title>
     <mat-card-subtitle>{{post.author.firstName}} {{post.author.lastName}}</mat-card-subtitle>
   </mat-card-header>
 
   <mat-card-content>
     <p>
       {{post.content}}
     </p>
   </mat-card-content>
   <mat-card-actions>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            <div>
              Komentarze

            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr>
        <div class="form">
          <mat-form-field class="comment" [formGroup]="commentForm" (ngSubmit)="sendComment(comment, post.id)">
            <input matInput placeholder="Komentarz" formControlName="comment">
          </mat-form-field>
     
            <button mat-icon-button>
              <i class="material-icons">
                send
              </i>
            </button>
        </div>
    
    

      </mat-expansion-panel>
    </mat-accordion>
     
   </mat-card-actions>
 </mat-card>
</div>


